:root {
  background: linear-gradient(to right, #ffefba, #ffffff);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
  background-color: #b14a75; 
  min-height: 110px;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}

.auth { 
  background: linear-gradient(to right, #ffefba, #ffffff);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}