:root {
  background: linear-gradient(to right, #ffefba, #ffffff);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar {
  background-color: #b14a75; 
  min-height: 110px;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
